

<% if @games.blank? %>
<p>There are no games currently in the system.</p>
<% else %>
<p>These are the current games in our system</p>

<ul id = "games">
   <% @games.each do |c| %>
   <li><%= link_to c.final_score, {:action => 'show', :id => c.id} -%></li>
   <% end %>
</ul>

<% end %>
<p><%= link_to "Add new Game", {:action => 'new' }%></p>
