
<ul>
<% @players.each do |player| %>
  <li>
    <a href="/players/<%= player.id %>"><%= player.username %>
    </a> - <span><%=player.highest_score %></span>
     - <span><%=player.number_games_played %></span>
  </li>
<% end %>
</ul>
