<form action="/player" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token() %>">
  <label for="new-username">Username:
    <input type="text" name="username" id="new-username">
  </label>

  <input type="submit" name="submit">
</form>

<a href="#" type="button" name="button">Play!</a>
